<!DOCTYPE html>
<html lang="en">
<head>
  <title>Evenements output</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">

    <h1>Evenements en Lamastre et Le Cheylard et environs</h1>
    <p>Choisissez votre sortie et amusez vous bien !!</p> 
    <h1></h1>


<p align="right">
     <a href="/input" button type="button" class="btn btn-default">Propose un spectacle</button> 

     </a>
     </p> 
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Spectacles proposés/h3>

      <!-- ./ commande ruby /.  -->
      
   </div>
     
   </div>
    
</div>

</body>
</html>
